<div class="post-card" [ngClass]="{ posted: buttonText === 'Merci !' }">
  <h2>{{ post.posterId | titlecase }}</h2>
  <p>
    Mise en ligne à
    {{ post.createdDate | date: "HH:mm, le d MMMM yyyy" }}
  </p>
  <img [src]="post.picture" [alt]="post.posterId" />
  <p>{{ post.message }}</p>
  <p>{{ post._id }}</p>
  <p *ngIf="post.location">Photo prise à {{ post.location }}</p>
  <button (click)="onLike()">{{ buttonText }}</button>

  <span [ngStyle]="{ color: 'rgb(0, ' + post.like * 90 + ', 0)' }"
    >:-) {{ post.like }}</span
  ><button (click)="onEdit()">{{ buttonTextEdit }}</button>
</div>
